body {
  margin: 0;
  font-family: "ff-din-web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #007be4;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }
}

img {
  max-width: 100%
}

.container {
  margin: 0 auto 48px auto;
  padding: 0 16px;
  max-width: 600px;
}

.logo {
  max-width: 4em;
  margin: 10% 0 2em 0;
}

h1 {
  margin: 0 0 24px 0;
  font-size: 1.45em;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin: 0 0 12px 0;
}

p > a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.container-large {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 600px;
}

.grid_item {
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .container-large {
    max-width: 1280px;
  }

  .grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .grid_item {
    flex: 0 0 49%;
  }
}

@media screen and (min-width: 1024px) {
  .grid_item {
    flex: 0 0 32%;
  }
}

.item_title {
  margin: 0 0 12px 0;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.item_image {
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .20);
}