body {
  margin: 0;
  font-family: "ff-din-web";
  font-size: 18px;
  color: #ffffff;
  background-color: #007be4;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }
}

.container {
  margin: 0 auto;
  padding: 16px;
  max-width: 600px;
}

.logo {
  max-width: 4em;
  margin: 10% 0 2em 0;
}

h1 {
  margin: 0 0 24px 0;
  font-size: 1.45em;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}